.Rproj.user
.Rhistory
.RData
.Ruserdata
.jpg
.pdf
**./Climate_change_images
**./Clustering_study
**./Formulas
**./GrassData2
**./Intermediate files
**./Machine learning models
**./Obsolete
**./opt_lsu
**./Presentation
**./Readings
**./Weather_data_visualization
