*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
**/Climate_change_images
**/Clustering_study
**/Formulas
**/GrassData2
**/Intermediate_files
**/Machine_learning_models
**/Obsolete
**/opt_lsu
**/Presentation
**/Readings
**/Weather_data_visualization
*.jpg
*.pdf
*.bin
*.clm
